* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.app {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #222222;
}

.search-controls {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    padding: 30px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.1);
}